html {
  font-size: 16px;
  background-color: #ffffff;
}

body {
  width: auto;
  margin: 0 auto;
  text-align: left;
  background-color: #ffffff;
  padding: 0 10px 10px 10px;
  border: 0px;
}

#header_name{
  font-size: 40px;
  margin: 0;
  color: #000000;
}

h2 {
  font-size: 20px;
}

p, li {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
}

img[src="images/me.jpg"] {
  display: block;
  position: relative;
  float:left;
  padding-right: 30px;
  margin: 0 auto;
  border: none;
}

.top_links {
  display: inline-block;
  padding: 0px 10px 0px 0px;
  border: none;
  margin: none;
}

.page_sections {
  padding-top: 10px;
}

.image_description {
 padding: 0px 0px 30px 0px;
}